# **Spring2024_Simple_Data_Migration_from_RethinkDB_to_MariaDB Progress Report 1** 
April 26th

## Description: 
Migrate data from RethinkDB to MariaDB using Python scripts where data stored in a RethinkDB database is transferred to a MariaDB database. Develop Python scripts to retrieve data from RethinkDB and insert it into MariaDB, ensuring data integrity and consistency. Utilize the rethinkdb and mysql-connector-python libraries for database interaction, showcasing basic data migration techniques between different database systems. Add different functionalities to enhance complexity of project.

Link: https://docs.google.com/document/d/1GEOmfpBUXiCua18wR1Hx1OMUVlku-1of/edit#heading=h.4ph7eurcozb1

## About This Project:
Everything below are my personal understanding, please feel free to correct me if you see any mistakes, any comment is appreciaated, thank you!

It is my understanding, this project contains the following step:
### 0. Import needed Libraries
### 1. Establish connection to the databases
### 2. Pick the dataset
### 3. Listed Data
### 4. Image Data
### 5. Audio Data
### 6. Video Data

## 0. Import needed Libraries
In this section, 
#### VideoFileClip from moviepy.editor
#### cv2
#### numpy
#### savemat from scipy.io
#### read and write from scipy.io.wavfile
#### rethinkdb
#### pandas
#### mariadb

In [5]:
from moviepy.editor import VideoFileClip
import cv2
import numpy as np
import time
from scipy.io import savemat
from scipy.io.wavfile import read, write
import rethinkdb as r
import json
import pandas as pd
import mariadb
import sys
from pydub import AudioSegment
import soundfile as sf

def split(array):
    array = np.array(array)
    red = array[:, :, 0:1]
    green = array[:, :, 1:2]
    blue = array[:, :, 2:3]
    nb = []
    nr = []
    ng = []
    for i in red:
        tp = [item for sublist in i for item in sublist]
        tp = [int(x) for x in tp]
        nr.append(tp)
        i = None
    red = None
    for j in green:
        tp = [item for sublist in j for item in sublist]
        tp = [int(x) for x in tp]
        ng.append(tp)
        j = None
    green = None
    for k in blue:
        tp = [item for sublist in k for item in sublist]
        tp = [int(x) for x in tp]
        nb.append(tp)
        k = None
    blue = None
    red = None
    green = None
    return nr, ng, nb

## 1. Pick the dataset
I have decided to choose a rather challenging dataset: An entire video. To be specific, I am trying to migrate "Never gonna give you up" from the great Rick Astley. Due to the sheer amount of data a video contains, I decided to go with the 360p version to minimize the amount of data I have to work with. All of my work so far are only limited to the video, I have not had an chance to do anything with the audio part, although it is a part of my plan. With the help of cv2(opencv-python), I was able to split te video into 5301 frames, each containing 230400 pixels. Each pixel is represented as a set of three integers corresponding to the RGP color scale.

In [6]:
cap = cv2.VideoCapture('./Rickroll.mp4')
length = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))
print("there are", length, "frames in the chosen video")

there are 0 frames in the chosen video

## 1. establish the connections:
here I connect this notebook to a rethinkdb database running locally, I think the ultimate goal is to access the data from a remote database, but I am still working out the kinks of that...So for now, I will be working with a locally hosted Rethindb Database.

In [7]:
rethink = r.RethinkDB()
rethink.connect('rethinkdb', 28015).repl()

As you might have noticed, I have an image of earth named earth.jpg in my code file, that is because at the begining, I wasn't able to store the entire video in the rethinkdb database, so I admitted defeat and was going to migrate a picture instead of an video. But I later (around the first woking in class session) found a way to store the video in a rethinkdb database, so the following code where I stores the picture is no longer needed.

In [8]:
try:
    # connection parameters
    conn_params = {
        'user' : "root",
        'password' : "<196900>",
        'host' : "172.19.0.1",
        'port' : 3306,
        'database' : "<data>"
    }

    # establish a connection
    connection = mariadb.connect(**conn_params)
    cursor = connection.cursor()
    
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)
    
print(cursor)

<mariadb.cursor at 0x7febf2eb4160>

## 2. Pick the dataset

## 3. Listed Data

In [28]:
rethink.db_create("listed").run()
rethink.db("listed").table_create("data").run()

{'config_changes': [{'new_val': {'db': 'listed',
    'durability': 'hard',
    'id': '26d09e37-5247-4d97-9b3a-0021ba863845',
    'indexes': [],
    'name': 'data',
    'primary_key': 'id',
    'shards': [{'nonvoting_replicas': [],
      'primary_replica': 'e6cfd0df01dd_77c',
      'replicas': ['e6cfd0df01dd_77c']}],
    'write_acks': 'majority',
    'write_hook': None},
   'old_val': None}],
 'tables_created': 1}

In [29]:
df = pd.read_csv('listeddata.csv')
listed_column = df.columns.tolist()
print(len(listed_column))
tp = df
tp.astype(str)
for index, line in tp.iterrows():
    x = list(line)
    converted = [str(i) for i in x]
    dict_data = {listed_column[i]:converted[i] for i in range(len(x))}
    dict_data['order']=index
    #print(dict_data)
    rethink.db('listed').table('data').insert(dict_data).run()
    print("line", index, "inserted successfully!")

2
line 0 inserted successfully!
line 1 inserted successfully!
line 2 inserted successfully!
line 3 inserted successfully!
line 4 inserted successfully!
line 5 inserted successfully!
line 6 inserted successfully!
line 7 inserted successfully!
line 8 inserted successfully!
line 9 inserted successfully!
line 10 inserted successfully!
line 11 inserted successfully!
line 12 inserted successfully!
line 13 inserted successfully!
line 14 inserted successfully!
line 15 inserted successfully!
line 16 inserted successfully!
line 17 inserted successfully!
line 18 inserted successfully!
line 19 inserted successfully!
line 20 inserted successfully!
line 21 inserted successfully!
line 22 inserted successfully!
line 23 inserted successfully!
line 24 inserted successfully!
line 25 inserted successfully!
line 26 inserted successfully!
line 27 inserted successfully!
line 28 inserted successfully!
line 29 inserted successfully!
line 30 inserted successfully!
line 31 inserted successfully!
line 32 inserted successfully!
line 33 inserted successfully!
line 34 inserted successfully!
line 35 inserted successfully!
line 36 inserted successfully!
line 37 inserted successfully!
line 38 inserted successfully!
line 39 inserted successfully!
line 40 inserted successfully!
line 41 inserted successfully!
line 42 inserted successfully!
line 43 inserted successfully!
line 44 inserted successfully!
line 45 inserted successfully!
line 46 inserted successfully!
line 47 inserted successfully!
line 48 inserted successfully!
line 49 inserted successfully!
line 50 inserted successfully!
line 51 inserted successfully!
line 52 inserted successfully!
line 53 inserted successfully!
line 54 inserted successfully!
line 55 inserted successfully!
line 56 inserted successfully!
line 57 inserted successfully!
line 58 inserted successfully!
line 59 inserted successfully!
line 60 inserted successfully!
line 61 inserted successfully!
line 62 inserted successfully!
line 63 inserted successfully!
line 64 inserted successfully!
line 65 inserted successfully!
line 66 inserted successfully!
line 67 inserted successfully!
line 68 inserted successfully!
line 69 inserted successfully!
line 70 inserted successfully!
line 71 inserted successfully!
line 72 inserted successfully!
line 73 inserted successfully!
line 74 inserted successfully!
line 75 inserted successfully!
line 76 inserted successfully!
line 77 inserted successfully!
line 78 inserted successfully!
line 79 inserted successfully!
line 80 inserted successfully!
line 81 inserted successfully!
line 82 inserted successfully!
line 83 inserted successfully!
line 84 inserted successfully!
line 85 inserted successfully!
line 86 inserted successfully!
line 87 inserted successfully!
line 88 inserted successfully!
line 89 inserted successfully!
line 90 inserted successfully!
line 91 inserted successfully!
line 92 inserted successfully!
line 93 inserted successfully!
line 94 inserted successfully!
line 95 inserted successfully!
line 96 inserted successfully!
line 97 inserted successfully!
line 98 inserted successfully!
line 99 inserted successfully!
line 100 inserted successfully!
line 101 inserted successfully!
line 102 inserted successfully!
line 103 inserted successfully!
line 104 inserted successfully!
line 105 inserted successfully!
line 106 inserted successfully!
line 107 inserted successfully!
line 108 inserted successfully!
line 109 inserted successfully!
line 110 inserted successfully!
line 111 inserted successfully!
line 112 inserted successfully!
line 113 inserted successfully!
line 114 inserted successfully!
line 115 inserted successfully!
line 116 inserted successfully!
line 117 inserted successfully!
line 118 inserted successfully!
line 119 inserted successfully!
line 120 inserted successfully!
line 121 inserted successfully!
line 122 inserted successfully!
line 123 inserted successfully!
line 124 inserted successfully!
line 125 inserted successfully!
line 126 inserted successfully!
line 127 inserted successfully!
line 128 inserted successfully!
line 129 inserted successfully!
line 130 inserted successfully!
line 131 inserted successfully!
line 132 inserted successfully!
line 133 inserted successfully!
line 134 inserted successfully!
line 135 inserted successfully!
line 136 inserted successfully!
line 137 inserted successfully!
line 138 inserted successfully!
line 139 inserted successfully!
line 140 inserted successfully!
line 141 inserted successfully!
line 142 inserted successfully!
line 143 inserted successfully!
line 144 inserted successfully!
line 145 inserted successfully!
line 146 inserted successfully!
line 147 inserted successfully!
line 148 inserted successfully!
line 149 inserted successfully!
line 150 inserted successfully!
line 151 inserted successfully!
line 152 inserted successfully!
line 153 inserted successfully!
line 154 inserted successfully!
line 155 inserted successfully!
line 156 inserted successfully!
line 157 inserted successfully!
line 158 inserted successfully!
line 159 inserted successfully!
line 160 inserted successfully!
line 161 inserted successfully!
line 162 inserted successfully!
line 163 inserted successfully!
line 164 inserted successfully!
line 165 inserted successfully!
line 166 inserted successfully!
line 167 inserted successfully!
line 168 inserted successfully!
line 169 inserted successfully!
line 170 inserted successfully!
line 171 inserted successfully!
line 172 inserted successfully!
line 173 inserted successfully!
line 174 inserted successfully!
line 175 inserted successfully!
line 176 inserted successfully!
line 177 inserted successfully!
line 178 inserted successfully!
line 179 inserted successfully!
line 180 inserted successfully!
line 181 inserted successfully!
line 182 inserted successfully!
line 183 inserted successfully!
line 184 inserted successfully!
line 185 inserted successfully!
line 186 inserted successfully!
line 187 inserted successfully!
line 188 inserted successfully!
line 189 inserted successfully!
line 190 inserted successfully!
line 191 inserted successfully!
line 192 inserted successfully!
line 193 inserted successfully!
line 194 inserted successfully!
line 195 inserted successfully!
line 196 inserted successfully!
line 197 inserted successfully!
line 198 inserted successfully!
line 199 inserted successfully!
line 200 inserted successfully!
line 201 inserted successfully!
line 202 inserted successfully!
line 203 inserted successfully!
line 204 inserted successfully!
line 205 inserted successfully!
line 206 inserted successfully!
line 207 inserted successfully!
line 208 inserted successfully!
line 209 inserted successfully!
line 210 inserted successfully!
line 211 inserted successfully!
line 212 inserted successfully!
line 213 inserted successfully!
line 214 inserted successfully!
line 215 inserted successfully!
line 216 inserted successfully!
line 217 inserted successfully!
line 218 inserted successfully!
line 219 inserted successfully!
line 220 inserted successfully!
line 221 inserted successfully!
line 222 inserted successfully!
line 223 inserted successfully!
line 224 inserted successfully!
line 225 inserted successfully!
line 226 inserted successfully!
line 227 inserted successfully!
line 228 inserted successfully!
line 229 inserted successfully!
line 230 inserted successfully!
line 231 inserted successfully!
line 232 inserted successfully!
line 233 inserted successfully!
line 234 inserted successfully!
line 235 inserted successfully!
line 236 inserted successfully!
line 237 inserted successfully!
line 238 inserted successfully!
line 239 inserted successfully!
line 240 inserted successfully!
line 241 inserted successfully!
line 242 inserted successfully!
line 243 inserted successfully!
line 244 inserted successfully!
line 245 inserted successfully!
line 246 inserted successfully!
line 247 inserted successfully!
line 248 inserted successfully!
line 249 inserted successfully!
line 250 inserted successfully!
line 251 inserted successfully!
line 252 inserted successfully!
line 253 inserted successfully!
line 254 inserted successfully!
line 255 inserted successfully!
line 256 inserted successfully!
line 257 inserted successfully!
line 258 inserted successfully!
line 259 inserted successfully!
line 260 inserted successfully!
line 261 inserted successfully!
line 262 inserted successfully!
line 263 inserted successfully!
line 264 inserted successfully!
line 265 inserted successfully!
line 266 inserted successfully!
line 267 inserted successfully!
line 268 inserted successfully!
line 269 inserted successfully!
line 270 inserted successfully!
line 271 inserted successfully!
line 272 inserted successfully!
line 273 inserted successfully!
line 274 inserted successfully!
line 275 inserted successfully!
line 276 inserted successfully!
line 277 inserted successfully!
line 278 inserted successfully!
line 279 inserted successfully!
line 280 inserted successfully!
line 281 inserted successfully!
line 282 inserted successfully!
line 283 inserted successfully!
line 284 inserted successfully!
line 285 inserted successfully!
line 286 inserted successfully!
line 287 inserted successfully!

In [31]:
print(dict_data.keys())

dict_keys(['Date', 'TouristNumber', 'order'])

In [10]:
fun = rethink.db('listed').table('data').filter({'TouristNumber':'8414'}).run()
tr = list(fun)
print(type(fun))
print(tr)

<class 'rethinkdb.net.DefaultCursor'>
[{'Date': '33604', 'TouristNumber': '8414', 'id': '956e61d5-238b-45f7-95e4-a74e5d77e35d'}]

In [11]:
fun = rethink.db('listed').table('data').filter({'Date':'33756'}).run()
tr = list(fun)
print(type(fun))
print(tr)

<class 'rethinkdb.net.DefaultCursor'>
[{'Date': '33756', 'TouristNumber': '46383', 'id': 'a252ee82-dc87-4d56-8cf9-ece021fa01f7'}]

In [35]:
fun = rethink.db('listed').table('data').filter({'order':44}).run()
tr = list(fun)
print(type(fun))
print(tr)

<class 'rethinkdb.net.DefaultCursor'>
[{'Date': '34943', 'TouristNumber': '27665', 'id': 'ccee37f0-8f7f-486e-90d2-f9090d4059b4', 'order': 44}]

In [40]:
cursor.execute("CREATE TABLE listed_data (date int, tournum int, od int ,id TEXT)")

In [43]:
stored = rethink.db('listed').table('data').run()
i = 1
for document in stored:
    date = document['Date']
    tnum = document['TouristNumber']
    id = document['id']
    order = document['order']
    query = f"INSERT INTO listed_data (date, tournum, od ,id ) VALUES ('{date}', '{tnum}', '{order}', '{id}')" 
    cursor.execute(query) 
    connection.commit()

In [44]:
cursor.execute("SELECT date, tournum, od FROM listed_data")
tblue = cursor.fetchall()
print(tblue[2])

(37135, 27488, 116)

In [57]:
recreate = pd.DataFrame(tblue, columns = dict_data.keys())
sor = recreate.sort_values(by='order')
sor = sor.drop(columns=['order'])
sor = sor.reset_index(drop = True)
#sor = sor.drop(columns=['index'])
print(sor.head())
print(tp.head())
print(tp.equals(sor))

    Date  TouristNumber
0  33604           8414
1  33635           9767
2  33664          13805
3  33695          12987
4  33725          32190
    Date  TouristNumber
0  33604           8414
1  33635           9767
2  33664          13805
3  33695          12987
4  33725          32190
True

In [ ]:
for i in rade:
    id = i[0]
    first = ','.join(i[1][0])
    second = ','.join(i[1][1])
    third = ','.join(i[1][2])
    query = f"INSERT INTO listed_date (data, tournum, id) VALUES ('{id}', '{first}', '{id}')" 
    cursor.execute(query) 
    connection.commit()

## 4. Audio Data

In [51]:
adata, samplerate = sf.read('music.mp3')
dim = adata.shape
print(type(adata))
#print(type(adata[12][1]))
ladata = adata.tolist()
print(type(ladata[2]))
num_arrays = len(adata) // samplerate
smaller_arrays = [adata[i*samplerate:(i+1)*samplerate] for i in range(num_arrays)]
print(dim)
print(len(smaller_arrays))
print(len(smaller_arrays[1]))

<class 'numpy.ndarray'>
<class 'list'>
(8017920, 2)
167
48000

In [27]:
rethink.db_create("Audio").run()
rethink.db("Audio").table_create("ladata").run()

{'config_changes': [{'new_val': {'db': 'Audio',
    'durability': 'hard',
    'id': '65571d3f-4093-4455-bd51-dfdfe9c16c1d',
    'indexes': [],
    'name': 'ladata',
    'primary_key': 'id',
    'shards': [{'nonvoting_replicas': [],
      'primary_replica': 'e6cfd0df01dd_77c',
      'replicas': ['e6cfd0df01dd_77c']}],
    'write_acks': 'majority',
    'write_hook': None},
   'old_val': None}],
 'tables_created': 1}

In [28]:
for i in range(len(smaller_arrays)):
    smaller_arrays[i] = smaller_arrays[i].reshape(1, -1)
    rethink.db('Audio').table('ladata').insert({'data':smaller_arrays[i], 'order':str(i)}).run()
    print(i, 'has been inserted')

0 has been inserted
1 has been inserted
2 has been inserted
3 has been inserted
4 has been inserted
5 has been inserted
6 has been inserted
7 has been inserted
8 has been inserted
9 has been inserted
10 has been inserted
11 has been inserted
12 has been inserted
13 has been inserted
14 has been inserted
15 has been inserted
16 has been inserted
17 has been inserted
18 has been inserted
19 has been inserted
20 has been inserted
21 has been inserted
22 has been inserted
23 has been inserted
24 has been inserted
25 has been inserted
26 has been inserted
27 has been inserted
28 has been inserted
29 has been inserted
30 has been inserted
31 has been inserted
32 has been inserted
33 has been inserted
34 has been inserted
35 has been inserted
36 has been inserted
37 has been inserted
38 has been inserted
39 has been inserted
40 has been inserted
41 has been inserted
42 has been inserted
43 has been inserted
44 has been inserted
45 has been inserted
46 has been inserted
47 has been inserted
48 has been inserted
49 has been inserted
50 has been inserted
51 has been inserted
52 has been inserted
53 has been inserted
54 has been inserted
55 has been inserted
56 has been inserted
57 has been inserted
58 has been inserted
59 has been inserted
60 has been inserted
61 has been inserted
62 has been inserted
63 has been inserted
64 has been inserted
65 has been inserted
66 has been inserted
67 has been inserted
68 has been inserted
69 has been inserted
70 has been inserted
71 has been inserted
72 has been inserted
73 has been inserted
74 has been inserted
75 has been inserted
76 has been inserted
77 has been inserted
78 has been inserted
79 has been inserted
80 has been inserted
81 has been inserted
82 has been inserted
83 has been inserted
84 has been inserted
85 has been inserted
86 has been inserted
87 has been inserted
88 has been inserted
89 has been inserted
90 has been inserted
91 has been inserted
92 has been inserted
93 has been inserted
94 has been inserted
95 has been inserted
96 has been inserted
97 has been inserted
98 has been inserted
99 has been inserted
100 has been inserted
101 has been inserted
102 has been inserted
103 has been inserted
104 has been inserted
105 has been inserted
106 has been inserted
107 has been inserted
108 has been inserted
109 has been inserted
110 has been inserted
111 has been inserted
112 has been inserted
113 has been inserted
114 has been inserted
115 has been inserted
116 has been inserted
117 has been inserted
118 has been inserted
119 has been inserted
120 has been inserted
121 has been inserted
122 has been inserted
123 has been inserted
124 has been inserted
125 has been inserted
126 has been inserted
127 has been inserted
128 has been inserted
129 has been inserted
130 has been inserted
131 has been inserted
132 has been inserted
133 has been inserted
134 has been inserted
135 has been inserted
136 has been inserted
137 has been inserted
138 has been inserted
139 has been inserted
140 has been inserted
141 has been inserted
142 has been inserted
143 has been inserted
144 has been inserted
145 has been inserted
146 has been inserted
147 has been inserted
148 has been inserted
149 has been inserted
150 has been inserted
151 has been inserted
152 has been inserted
153 has been inserted
154 has been inserted
155 has been inserted
156 has been inserted
157 has been inserted
158 has been inserted
159 has been inserted
160 has been inserted
161 has been inserted
162 has been inserted
163 has been inserted
164 has been inserted
165 has been inserted
166 has been inserted

In [29]:
second = rethink.db('Audio').table('ladata').filter({'order':'1'}).run()
audio_for_second = list(second)
print(type(audio_for_second[0]))

<class 'dict'>

In [30]:
x=1
teaser = []
for i in range(10):
    second = rethink.db('Audio').table('ladata').filter({'order':str(x+i)}).run()
    teaser.append(second) 
    print(x+i, 'seconds data has been loaded')

1 seconds data has been loaded
2 seconds data has been loaded
3 seconds data has been loaded
4 seconds data has been loaded
5 seconds data has been loaded
6 seconds data has been loaded
7 seconds data has been loaded
8 seconds data has been loaded
9 seconds data has been loaded
10 seconds data has been loaded

In [37]:
cursor.execute("CREATE TABLE audio (data MEDIUMTEXT, ord TEXT)")

In [38]:
audio = rethink.db('Audio').table('ladata').run()
for document in audio:
    second = document['data']
    od = document['order']
    query = f"INSERT INTO audio (data, ord) VALUES ('{second}', '{od}')" 
    cursor.execute(query) 
    connection.commit() 
    print(od)

43
118
59
77
56
13
104
111
126
138
67
120
161
136
108
34
46
133
123
130
107
149
18
124
52
40
125
32
0
68
24
21
22
109
119
45
48
54
30
129
16
6
116
135
60
11
55
86
26
63
15
66
139
10
134
148
102
131
164
121
147
25
112
145
72
98
150
156
57
157
89
151
146
88
87
28
76
99
78
84
95
83
160
159
103
92
110
90
115
137
142
153
64
106
38
2
80
114
4
93
5
74
163
141
165
70
23
49
65
51
1
132
3
7
36
152
144
42
154
94
100
27
162
117
101
62
17
41
81
105
61
35
53
97
91
113
79
128
143
140
155
31
158
58
50
39
20
12
8
71
33
85
69
96
9
122
37
82
166
73
19
75
127
14
47
29
44

In [6]:
cursor.execute("SELECT data, ord FROM audio")
tblue = cursor.fetchall()
readata = []
print(type(tblue[1]))
sortedata = sorted(tblue, key=lambda x: x[1])
for i in sortedata:
    print(i[1])

<class 'tuple'>
0
1
10
100
101
102
103
104
105
106
107
108
109
11
110
111
112
113
114
115
116
117
118
119
12
120
121
122
123
124
125
126
127
128
129
13
130
131
132
133
134
135
136
137
138
139
14
140
141
142
143
144
145
146
147
148
149
15
150
151
152
153
154
155
156
157
158
159
16
160
161
162
163
164
165
166
17
18
19
2
20
21
22
23
24
25
26
27
28
29
3
30
31
32
33
34
35
36
37
38
39
4
40
41
42
43
44
45
46
47
48
49
5
50
51
52
53
54
55
56
57
58
59
6
60
61
62
63
64
65
66
67
68
69
7
70
71
72
73
74
75
76
77
78
79
8
80
81
82
83
84
85
86
87
88
89
9
90
91
92
93
94
95
96
97
98
99

In [52]:
for i in tblue:
    i[0] = [float(x) for x in i[0].split()]

print(len(tblue[1]))

AttributeError: 'tuple' object has no attribute 'reshape'

## 5. Image Data

## 6. Video Data

In [5]:
new = []
im = cv2.imread("Small_Earth.jpg")
print(type(im))
red = im[:, :, 0]
green = im[:, :, 1]
blue = im[:, :, 2]
print(type(red))
r = red.reshape(2, -1).tolist()
g = green.reshape(2, -1).tolist()
b = blue.reshape(2, -1).tolist()
print(len(r[1]))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
84050

In [16]:
rethink.db_create("film").run()
rethink.db("film").table_create("video").run()
rethink.db("film").table_create("audio").run()
rethink.db_create("earth").run()
rethink.db("earth").table_create("pic").run()

{'config_changes': [{'new_val': {'db': 'earth',
    'durability': 'hard',
    'id': '42366f95-f3ff-4213-8afe-52b9141a239d',
    'indexes': [],
    'name': 'pic',
    'primary_key': 'id',
    'shards': [{'nonvoting_replicas': [],
      'primary_replica': '43b3a94a615c_3zh',
      'replicas': ['43b3a94a615c_3zh']}],
    'write_acks': 'majority',
    'write_hook': None},
   'old_val': None}],
 'tables_created': 1}

In [18]:
data = {"red":r, "green":g, "blue":b}
rethink.db("earth").table("pic").insert(data).run()

{'deleted': 0,
 'errors': 0,
 'generated_keys': ['c9079786-1e2c-4d99-9fc8-376fcd1f62ec'],
 'inserted': 1,
 'replaced': 0,
 'skipped': 0,
 'unchanged': 0}

In [25]:
dt = []
tr = rethink.db('earth').table('pic').run()
for doc in tr:
    dt.append(doc)
data = dt[0]
print(type(data))

<class 'dict'>

The following code will store the entire video in a rethinkdb database. Each frame was stored in a seprate table labeled with the frame number. Since each frame is 360 by 640 pixels, there are 360 row in each table. In each row, there are three member labeled R, G and B with each member containing a 1 by 640 set. This is functional at best and I am currently working on making the process more efficent.

In [ ]:
'''for i in range(length):
    new = []
    cap.set(cv2.CAP_PROP_POS_FRAMES, i)
    ret, frame = cap.read()
    frame = np.array(frame)
    red, green, blue = split(frame)
    name = "frame_"+str(i)
    rethink.db('Project').table_create(name).run()
    for j in range(len(red)):
        new.append({"red":red[j], "green":green[j], "blue":blue[j]})
    rethink.db('Project').table(name).insert(new).run()
    print(i/length)'''

Everything from here on are my origional code, as you can see in the code.py file. This is for pure demonstreational purpous.

In [ ]:
###Avalible Code###
#Everything Above has been tested and will work    
    
#rethink.db("test").table_create("array"run()
#print(frame.ndim)
#print(length)
#new = frames
'''jsondata = json.dumps(frames)
with open("/home/ke/Desktop/database/testing/Data605Project/Python Codes/test2.json", "w") as json_file:
    json_file.write(jsondata)'''
# Serialize the list to JSON
#rethink.db("ke-B660M-AORUS-PRO-AX-DDR4").table
#rethink.connect('localhost', 28015).repl()
#print(loaded_arrays[1].ndim)
# Write the array to disk
#print(frames[12].ndim)
#newarray = np.stack(frames)
#print(newarray.shape)

###Line of Submission###

'''
red = red.tolist()
green = im[:, :, 1:2]
green = green.tolist()
blue = im[:, :, 2:3]
blue = blue.tolist()
nb = []
for k in blue:
    nb.append([item for sublist in k for item in sublist])'''
#rethink.db('Project').table_create('picture').run()
'''for i in range(len(red)):
    frames.append({"red":red[i], "green":green[i], "blue":blue[i]})
    #print(i)
print(len(red[2]))
#rethink.db('Project').table_create('NewArray').run()
#rethink.db('Project').table('Array').insert(frames).run()
array = rethink.db('Project').table('Array').pluck('red').run()
for document in array:
    new.append(document)
x = list(new[4].values())
print(x[0][4][0])'''

**I understand my progress so far is slitely behind where it should be, but there has been an incident. My old PC(2015 Macbook air with a 4 core CPU) was not up to the task(just running the script will make the keyboard how and the pc itself too hot to work with). So I decided to get a new one. The shipping time along with setting up the system took almost the entire week. I have my system up to date now and I will catch up very soon.**
***

##

## technology
* ***jupyterlab***
    * **something**
    * **something else**
* ***docker***

* ***docker-compose***
    - some
* ***rethinkdb***
    - hfin
* ***mariadb***
    -

## Docker system

## how to run the system

## describe exactly what you have done